<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Contest Dashboard</title>
</head>
<body>

    <h1>Upcoming Coding Contests</h1>

    <div class="loading" id="loadingMessage">Loading contests...</div>
    <div class="error" id="errorMessage" style="display: none;">Failed to load contests. Please try again later.</div>
    <div class="contest-list" id="contestList"></div>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>
